Repository almeidx/lurkr-website, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: bot, scope: main

chore: enabled yarn v2 pnp
  .gitattributes
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/releases/yarn-2.4.2.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  packages/bot/package.json
  packages/main/next-env.d.ts
  packages/main/package.json
  yarn.lock
Labels: scope: bot, scope: main

Dashboard mobile navigation
  packages/bot/src/components/dashboard/Header.tsx
  packages/bot/src/components/dashboard/Menu.tsx
  packages/bot/src/components/dashboard/pages/Autorole.tsx
  packages/bot/src/components/dashboard/pages/EmojiList.tsx
  packages/bot/src/components/dashboard/pages/General.tsx
  packages/bot/src/components/dashboard/pages/Leveling.tsx
  packages/bot/src/components/dashboard/pages/MentionCooldown.tsx
  packages/bot/src/components/dashboard/pages/Milestones.tsx
  packages/bot/src/components/dashboard/pages/Miscellaneous.tsx
  packages/bot/src/components/form/BasicSelect.tsx
  packages/bot/src/components/form/Selector.tsx
  packages/bot/src/pages/guilds/[id].tsx
Labels: none

Dashboard Menu style niceties
  packages/bot/src/components/dashboard/Menu.tsx
Labels: none

Selector comp max bullet width
  packages/bot/src/components/form/Selector.tsx
Labels: none

Leveling page responsiveness and styling
  packages/bot/src/components/dashboard/XpRole.tsx
  packages/bot/src/components/dashboard/pages/Leveling.tsx
Labels: none

simplified showcases
  packages/bot/src/pages/index.tsx
  packages/bot/src/utils/constants.ts
Labels: none

fix: dashboard pages re-rendering because of the mobile menu
  packages/bot/src/components/dashboard/pages/Autorole.tsx
  packages/bot/src/components/dashboard/pages/EmojiList.tsx
  packages/bot/src/components/dashboard/pages/General.tsx
  packages/bot/src/components/dashboard/pages/Leveling.tsx
  packages/bot/src/components/dashboard/pages/MentionCooldown.tsx
  packages/bot/src/components/dashboard/pages/Milestones.tsx
  packages/bot/src/components/dashboard/pages/Miscellaneous.tsx
  packages/bot/src/contexts/GuildContext.tsx
  packages/bot/src/pages/guilds/[id].tsx
  packages/bot/src/pages/levels/index.tsx
Labels: none

disabled dependabot
  .github/dependabot.yml
Labels: none

fixed root build script
  package.json
  packages/bot/package.json
  packages/main/package.json
  yarn.lock
Labels: scope: bot, scope: main

made guild component and cleanup mobile version of the levels page
  packages/bot/src/components/Guild.tsx
  packages/bot/src/pages/guilds/[id].tsx
  packages/bot/src/pages/guilds/index.tsx
  packages/bot/src/pages/levels/index.tsx
Labels: none

dont append 'false' to classnames and updated gql queries to use the new method
  packages/bot/src/components/dashboard/Menu.tsx
  packages/bot/src/components/form/BasicSelect.tsx
  packages/bot/src/components/form/Selector.tsx
  packages/bot/src/components/form/Toggle.tsx
  packages/bot/src/graphql/queries/DashboardGuild.ts
  packages/bot/src/graphql/queries/GuildLevels.ts
  packages/bot/src/pages/guilds/[id].tsx
  packages/bot/src/pages/levels/[id].tsx
Labels: none

restyled levels page Role comp
  packages/bot/src/components/leaderboard/Role.tsx
Labels: none

reusable RoleChannelBullet comp
  packages/bot/src/components/RoleChannelBullet.tsx
  packages/bot/src/components/leaderboard/Role.tsx
Labels: none

Selector comp refactor
  packages/bot/src/components/RoleChannelBullet.tsx
  packages/bot/src/components/form/Selector.tsx
Labels: none

Dashboard menu fix size
  packages/bot/src/components/dashboard/Menu.tsx
Labels: none

Selector dropdown wrap long names
  packages/bot/src/components/form/Selector.tsx
Labels: none

RoleChannelBullet decrease width for mobile fit
  packages/bot/src/components/RoleChannelBullet.tsx
Labels: none

Dashboard correctly routes when navigating history
  packages/bot/src/pages/guilds/[id].tsx
Labels: none

Dashboard Leveling style improvements
  packages/bot/src/components/dashboard/pages/Leveling.tsx
Labels: none

Input comp optional clear button
  packages/bot/src/components/form/Input.tsx
Labels: none

Leveling page improvements
  packages/bot/src/components/dashboard/XpMultiplier.tsx
  packages/bot/src/components/dashboard/XpRole.tsx
  packages/bot/src/components/dashboard/pages/Leveling.tsx
Labels: none

Dashboard Misc page toggle
  packages/bot/src/components/dashboard/pages/Miscellaneous.tsx
Labels: none

fixed role/channel bullets high z
  packages/bot/src/components/RoleChannelBullet.tsx
Labels: none

Navbar refactor and close on route change
  packages/bot/src/components/Navbar.tsx
  packages/bot/src/styles/global.css
Labels: none

toggle not displaying default value & nitpicks
  packages/bot/src/components/RoleChannelBullet.tsx
  packages/bot/src/components/dashboard/XpRole.tsx
  packages/bot/src/components/form/Selector.tsx
  packages/bot/src/components/form/Toggle.tsx
Labels: none

bug fixes and added error display at the top of the page
  packages/bot/package.json
  packages/bot/src/components/ErrorMessage.tsx
  packages/bot/src/components/dashboard/Menu.tsx
  packages/bot/src/components/dashboard/pages/Autorole.tsx
  packages/bot/src/components/dashboard/pages/Leveling.tsx
  packages/bot/src/components/dashboard/pages/MentionCooldown.tsx
  packages/bot/src/components/dashboard/pages/Milestones.tsx
  packages/bot/src/contexts/GuildContext.tsx
  packages/bot/src/pages/_app.tsx
  packages/bot/src/pages/guilds/[id].tsx
  packages/bot/src/pages/levels/calculator.tsx
  packages/bot/src/utils/utils.ts
  yarn.lock
Labels: scope: bot

added parseIntStrict and parseFloatStrict utility functions
  packages/bot/src/components/dashboard/pages/Autorole.tsx
  packages/bot/src/components/dashboard/pages/Leveling.tsx
  packages/bot/src/components/dashboard/pages/MentionCooldown.tsx
  packages/bot/src/components/dashboard/pages/Milestones.tsx
  packages/bot/src/utils/utils.ts
Labels: none

removed leftover useEffect from GuildContext
  packages/bot/src/contexts/GuildContext.tsx
Labels: none

Revert dashboard menu button style
  packages/bot/src/components/dashboard/Menu.tsx
Labels: none

Input comp number only mode, prefix char
  packages/bot/src/components/form/Input.tsx
  packages/bot/src/utils/utils.ts
Labels: none

XpMultiplier slight polish
  packages/bot/src/components/dashboard/XpMultiplier.tsx
Labels: none

convert autoRoleTimeout and mentionCooldown to milliseconds before saving changes
  packages/bot/src/components/dashboard/Menu.tsx
Labels: none

added better validation for autoRoleTimeout and mentionCooldown and handled more edge cases on save
  packages/bot/src/contexts/GuildContext.tsx
Labels: none

Revert Input comp number mode cause state problems
  packages/bot/src/components/dashboard/XpMultiplier.tsx
  packages/bot/src/components/form/Input.tsx
Labels: none

completed validation
  packages/bot/src/contexts/GuildContext.tsx
Labels: none

Form comp disabled state improvements
  packages/bot/src/components/dashboard/XpRole.tsx
  packages/bot/src/components/form/BasicSelect.tsx
  packages/bot/src/components/form/Input.tsx
  packages/bot/src/components/form/Selector.tsx
Labels: none

Remove disabled state from Leveling page
  packages/bot/src/components/dashboard/pages/Leveling.tsx
Labels: none

small tweaks
  packages/bot/src/components/Navbar.tsx
  packages/bot/src/components/dashboard/pages/Leveling.tsx
  packages/bot/src/components/form/Input.tsx
  packages/bot/src/components/form/Toggle.tsx
  packages/bot/src/contexts/GuildContext.tsx
  packages/bot/src/pages/levels/index.tsx
Labels: none

fixed autoRoleTimeout type
  packages/bot/src/components/ErrorMessage.tsx
  packages/bot/src/components/dashboard/Menu.tsx
  packages/bot/src/components/dashboard/pages/Autorole.tsx
  packages/bot/src/contexts/GuildContext.tsx
  packages/bot/src/graphql/queries/DashboardGuild.ts
Labels: none

separated the sign out navbar button
  packages/bot/src/components/Navbar.tsx
  packages/bot/src/components/dashboard/pages/Leveling.tsx
  packages/bot/src/contexts/GuildContext.tsx
Labels: none

.github/labeler.yml:

'scope: bot':
  - packages/bot/*

'scope: main':
  - packages/main/*
